@model Crowd_Funding_Platform.Models.User
@* @inject IHttpContextAccessor HttpContextAccessor

<p>@HttpContextAccessor.HttpContext.Session.GetString("ForgetpwdEmail").ToString()</p> *@

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-userheading">
    <h3>Forgot Password?</h3>
</div>
<form id="forgotPassword" method="post">

    <div class="form-login">
        <label>Email Address</label>
        <div class="form-addons">
            <input type="text" asp-for="Email" id="Email" placeholder="Enter your email here">
            @* <img src="~/assets/img/icons/mail.svg" alt="img"> *@
        </div>
    </div>
    <div class="form-login">
        <button type="submit" id="btnSubmit" class="btn btn-login">
            <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
            Send Link
        </button>
    </div>
</form>

@section Scripts {
    <script src="~/js/Login.js"></script>
}
