@model Crowd_Funding_Platform.Models.User

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-userheading">
    <h4>Change Password</h4>
</div>
<form id="ResetPassword" method="post">
    <div class="form-login">
        <label>Password</label>
        <div class="form-addons">
            <input type="text" asp-for="PasswordHash" placeholder="Enter your Password">
            @*  <img src="~/assets/img/icons/mail.svg" alt="img"> *@
        </div>
    </div>
    <div class="form-login">
        <label>Password</label>
        <div class="pass-group">
            <input type="text" asp-for="ConfirmPassword" class="pass-input" placeholder="Enter your Confirm password">
            <span class="fas toggle-password fa-eye-slash"></span>
        </div>
    </div>
    <div class="form-login">
        <button type="submit" id="btnSubmit" class="btn btn-login">
            <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
            Change Password
        </button>
    </div>
</form>

@section Scripts {
    <script src="/js/Login.js"></script>
}
