@model int?

<a class="nav-link dropdown-toggle" href="/Notification/Index" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="notification">@((Model.HasValue && Model.Value > 0) ? Model.ToString() : "0")</span>
</a>